@import "tailwindcss";

@font-face {
    font-family: 'Heinch';
    src: url('/Heinch\ Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Heinch-up';
    src: url('/Heinch.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
    font-family: 'Heinch', sans-serif;
    background-color: #F2F2F2;
}

body ::selection {
  background-color: rgb(248, 129, 32); /* Blue background */
  color: black ; /* White text */
}